cmake_minimum_required(VERSION 3.0)

project(@PROJECT_NAME@)

set(CMAKE_MODULE_PATH "${CMAKE_SOURCE_DIR}/cmake")
include(ralph)
ralph_load()

set(@PROJECT_NAME@_SRC
	main.cpp
)

add_executable(@PROJECT_NAME@ ${@PROJECT_NAME@_SRC})
